.character-detail {
    padding: 20px;
}

.character-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    gap: 50px;
    position: relative;
    clip-path: polygon(
        0 0,
        100% 0,
        100% calc(100% - 20px),
        calc(100% - 20px) 100%,
        0 100%
    );
}

.character-info {
    width: 30%;
}

.character-action-info {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.character-action-info img {
    height: 26px;
    width: 26px;
}

.character-info h1 {
    margin: 0;
    font-size: 36px;
}

.comics-carousel-container {
    width: 90%;
    max-width: 890px;
    margin: 0 auto;
    overflow-x: auto;
    margin-bottom: 20px;
}

.comics-carousel-container::-webkit-scrollbar {
    height: 4px;
}

.comics-carousel-container::-webkit-scrollbar-thumb {
    background-color: #ec1d24;
    border-radius: 2px;
}

.comics-carousel-container::-webkit-scrollbar-track {
    background: transparent;
}

.comics-carousel {
    display: flex;
    gap: 10px;
    padding: 10px 0;
    justify-content: flex-start;
}

.comic-card {
    flex: 0 0 auto;
    width: 168.53px;
    text-align: start;
}

.comic-card img {
    width: 100%;
    height: 320.6px;
}

.comic-title {
    margin: 11.29px 0 5px 0;
    font-weight: bold;
    font-size: 16px;
}

.comic-date {
    margin: 5px 0;
    font-size: 12px;
}

@media (max-width: 768px) {
    .character-header {
        justify-content: flex-start;
    }

    .character-info {
        width: 50%;
    }

    .comics-carousel-container {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .character-header {
        flex-direction: column;
        align-items: center;
    }

    .character-info {
        width: 80%;
    }

    .character-info h1 {
        font-size: 28px;
    }

    .character-action-info {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .comics-carousel-container {
        width: 100%;
    }
}
